*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background:#252839;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
/* 
}
h1{
    position: relative;
    font-size: 70px;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;

}
h1::before{
    content:attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    color:red;
    -webkit-text-stroke:0vw #383d52 ;
    border-right: 2px solid yellowgreen;
    overflow: hidden;
    animation: animate 6s linear infinite ;

}
@keyframes animate{
    0%,90%,100%{
        width: 0%;
    }
    70%.90%{
        width:100%;
    }
} */

/* ----=====---- */
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color:#fff ;
    font-size: 60px;
    font-weight: 500;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 60px;
    /* background: yellow; */
    line-height: 60px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    font-size: 40px;
    font-weight: 600;
    color: red;
    position: relative;
    top: 0;
    /* overflow: hidden; */
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width:100%;
    background: #252839;
    border-left: 2px solid yellow;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}